<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter" style="margin-left: -20px">
        <a class="topcoat-icon-button--quiet back-button" href="#">
          <span class="topcoat-icon topcoat-icon--back"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half" style="margin-left: -60px">
        <h1 class="topcoat-navigation-bar__title">Beer Pursuit</h1>
    </div>
</div>

<div class='details'>
    <h1><%= name %></h1>

    <div class="topcoat-list__container scroller">
        <ul class="topcoat-list list actions">
            <li class="topcoat-list__item">
                <p>Ville</p><p><%= city %>°</p>
                <div class="action-icon icon-sms"></div>
            </li>
            <li class="topcoat-list__item">
                <p>Adresse</p><p><%= adress %></p>
                <div class="action-icon icon-home"></div>
            </li>
            <a href="http://<%= website %>">
                <li class="topcoat-list__item">
                    <p>Site web</p><p><%= website %></p>
                    <div class="action-icon icon-url"></div>
                </li>
            </a>
            
        </ul>
    </div>
</div>
        